<section id="contact">
	<h1 class="titulo">Contacto</h1>
	<div class="text">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere ac ut consequat semper viverra nam libero justo laoreet. At imperdiet dui accumsan sit amet nulla. Fermentum leo vel orci porta non pulvinar neque laoreet.</p>

		<p>Praesent tristique magna sit amet purus gravida quis. Integer quis auctor elit sed. Nunc sed velit dignissim sodales ut eu sem integer vitae. Fringilla est ullamcorper eget nulla facilisi etiam. Scelerisque eu ultrices vitae auctor. Vestibulum mattis ullamcorper velit sed.</p>

		<p>Tristique magna sit amet purus gravida quis blandit turpis cursus. Morbi tristique senectus et netus et malesuada fames ac. Egestas quis ipsum suspendisse ultrices gravida dictum. Id venenatis a condimentum vitae sapien. Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Montes nascetur ridiculus mus mauris vitae ultricies.</p>

		<form action="{{ contact_service.getForm() }}" method="POST">
			<label for="name">Nom</label>
			</br>
			<input type="text" name="name"/>
			</br>
			<label for="email">Correu</label>
			</br>
			<input type="email" name="email"/>
			</br>
			<label for="subject">Assumpte</label>
			</br>
			<input type="text" name="subject"/>
			</br>
			<label for="message">Missatge</label>
			</br>
			<textarea name="message"></textarea>
			</br>
			<input type="submit" name="submit" value="Enviar"/>
		</form>
	</div>
</section>