<section id="about-us">
	<h1 class="titulo">Quienes somos y esas cosas</h1>
	<div class="text">
		<p>Esta página web es el resultado del proyecto de final de ciclo de tres compañero de classe.<br>
			Aqui intentamos unificar todos esos recursos, apuntes, anotaciones, ejercicios y cosas que estamos hartos de perder el tiempo buscando de forma recursiva y reiterado entre nuestros archivos o el infinito mundo de internet.
		</p>
		<p>
			Muchos direis que podriamos haber usado un Drive, Cloud, Git... pero la realidad es que despues de vivir la experiencia de empezar a estudiar en el sector de las TIC, sabemos como puede ser de desmotivador en ciertos momentos buscar documentación por internet.  Y como lo vivimos y sabemos cuanto nos hubiese gustado que nos hechasen una mano en esos momentos de ansiedad, aprovechamos para compartir nuestros limitados conocimientos y experiencias con todos esos compañeros que se animan y empiezan a dar sus primeros pasos en este sector, como en su dia nos hubiese gustado que hicieran con nosotros
		</p>

		<p>
			Somos Nerds, adictos a la programación, Geeks de las TIC. Aprendimos mucho, y no queremos para de hacerlo. Por ello, si en nuestros apuntes detectas información incorrecta, no dudes en informarnos, pues sabemos que estamos en un sector en constante evolución y somos conscientes que hay mucho a mejorar.<br/>
			Toda contrubución a nuestro aprendizaje seria mas que bienvenida.
		</p>

		<p>
			Pero cuidado, si eres uno de esos programadores Pro repleto de orgullo y con ganas de criticar, te equivocaste de web. Tomate una pildora de humildad y empieza por preguntarte
			<i>¿Si tan experto eres, que haces buscando ayuda en una web de novatos?</i>. Ahorrate los tecnicismos y los comentarios vanidosos, los minadores de moral no son bienvenidos. Aporta o Aparta!!
		</p>
	</div>
</section>
