<!DOCTYPE html>
<html>

	{% block head %}
		{{ include('head.html.twig') }}
	{% endblock %}

	<body>
	<!--MENU DE NAVEGACIO - LATERAL ESQUERRA-->
		{% block navbar %}{% endblock %}

		{% block body %}
			<main>
					<!--CONTINGUT DE LA WEB - ZONA DRETA-->
				<div id="fade"></div>
				{% block content %}{% endblock %}
			</main>
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
