<!DOCTYPE html>
<html>

	{% block head %}
		{{ include('head.html.twig') }}
	{% endblock %}

	<body>
		{% block body %}

			<!--MENU DE NAVEGACIO - LATERAL ESQUERRA-->
			<nav class="primary-menu">
				{% block navbar %}
				{% endblock %}
			</nav>

			<!--CONTINGUT DE LA WEB - ZONA DRETA-->
			<main>
				<div id="fade"></div>
				{% block content %}{% endblock %}
			</main>

		{% endblock %}

		{% block javascripts %}{% endblock %}
	</body>
</html>
