<!DOCTYPE html>
<html>

	{% block head %}
		{{ include('head.html.twig') }}
	{% endblock %}

	<body>
		{% block body %}
			{% block navbar %}{% endblock %}
			{% block content %}{% endblock %}
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
