{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('homemenu.html.twig') }}
{% endblock %}
{% block content %}

	<!--CONTINGUT DE LA WEB - ZONA DRETA-->
	<main>

		<div id="fade"></div>
		{% for section in sections %}

			<section id="{{section.menulink}}">
				<h1 class="titulo">{{section.titol}}</h1>
				<div class="text">{{section.contingut}}</div>
			</section>
		{% endfor %}

	</main>
{% endblock %}
