{% extends 'base.html.twig' %}

{% block navbar %}
	{{ include('menu_home.html.twig') }}
{% endblock %}

{% block content %}

	{% for section in sections %}
		<section id="{{section.menulink}}">
			<h1 class="titulo">{{section.titol}}</h1>
			<div class="text">{{section.contingut}}</div>
		</section>
	{% endfor %}

{% endblock %}
