<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Somos Nerds! Full Nerds toDevelop</h1>
	<div class="doc-text">
		<h3>Proyecto final de CFGS Desarrollo de Aplicaciones Web</h3>
		<h5>Adam JH, Aleix RA y Roger CR</h5>

		<p>
			Esta web surge del proyecto de final de curso de tres compañeros de DAW. Ideado principalmente para dar respuesta a un proyecto personal que seguidamente expondremos, junto al interés por desarrollar un producto en el que poder integrar al mismo tiempo, todas o casi todas las cosas que hemos ido aprendiendo a lo largo de nuestra formación.
		</p>
		<p>
			Elegir la temática no fue tarea fácil, pues encontrar un producto en el que se pudiesen integrar los contenidos académicos trabajados, como demostración de las aptitudes y conocimientos adquiridos, era complejo por la dificultad de conseguir que pudiesen coexisitir las distintas tecnologías de frontend, backend y sistemas trabajadas.
		</p>

		<p>
			Por ello elegimos como aplicación web lo que para muchos sería a primera vista un simple blog de artículos (posts). No obstante, desde cero, sin usar ningun CRM o template existente. Permitiéndonos compartir nuestro aprendizaje con artículos sobre los distintos idiomas de programación, frameworks o temas en general. Marcándonos como objetivos principales:
			<ul>
				<li>
					Desarrollar el backend con Symfony5 para una gestión del enrutado de las URL que nos permitiese jugar con las categorías inCSS, inPHP, inApache...
				</li>
				<li>
					Aplicar en frontend todos las teorías trabajadas en diseño responsive, User Experience, OpenGraph, SEO...
				</li>
				<li>
					Integrar un frontend reactivo con VUE, que no conseguimos y terminamos creando nuestro propio Javascript full Modelo Vista Controlador.
				</li>
				<li>
					Hacer el Deployment de la web en un entorno de producción real, con configuraciones comunmente aceptadas de accesos, redirecciones, permisos, SSL, mails...
				</li>
				<li>
					Utilizar herramientas de trabajo coordinado como Git, SCRUM y Basecamp, actualmente muy extendidas en la mayoría de empresas.
				</li>
			</ul>
		</p>
		<p>
			Sólo en 4 semanas y con la complejidad añadida de un confinamiento, que no ha impedido a 3 personas de 3 provincias distintas, comunicarse a diario, organizarse y realizar casi todos los objetivos que nos propusimos, creemos que con éxito.
		</p>
	</div>
</section>
