<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Indice de contenidos de esta docmuentación</h1>
	<div class="doc-text">

		<p>
			Definición, planteamiento y aspectos globales del proyecto
		</p>
		<ol>
			<li>
				<h5>Presentación</h5>
			</li>
			<li>
				<h5>Indice de contenidos</h5>
			</li>
			<li>
				<h5>Descripción del producto final objetivo</h5>
			</li>
			<li>
				<h5>Objetivos planteados al inicio del proyecto</h5>
			</li>
			<li>
				<h5>Herramientas y tecnologias utilizadas</h5>
			</li>
			<li>
				<h5>Organización y planificación del desarrollo</h5>
			</li>
		</ol>
	</ol>
	<p>
		Especificaciones del dessarollo
	</p>
	<ol start="7">
		<li>
			<h5>Bocetos de diseño iniciales</h5>
		</li>
		<li>
			<h5>Diagrama funcionalidades o casos de uso</h5>
		</li>
		<li>
			<h5>Estructuración de la Base de datos</h5>
		</li>
		<li>
			<h5>Eso que queriamos, y morimos en el intento</h5>
		</li>
		<li>
			<h5>Eso que queriamos, y de lo que nos sentimos orgullosos</h5>
		</li>
		<li>
			<h5>Seguridad aplicada</h5>
		</li>
		<li>
			<h5>Valoracions de desarrollo</h5>
		</li>
	</ol>
	<p>
		Anexos para uso e instalación
	</p>
	<ol start="14">
		<li>
			<h5>Guia de Estilos e imagen corporativa</h5>
		</li>
		<li>
			<h5>Manual de usuario</h5>
		</li>
		<li>
			<h5>Version Demo para instalación y test</h5>
		</li>
	</ol>

	<ol start="17">
		<li>
			<h5>Conclusiones finales</h5>
		</li>
	</ol>
</div></section>
