<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Indice de contenidos de esta docmuentación</h1>
	<div class="doc-text">

		<p>Definición, planteamiento y aspectos globales del proyecto</p>

		<h5 class="doc-list">1. Presentación</h5>
		<h5 class="doc-list">2. Indice de contenidos</h5>
		<h5 class="doc-list">3. Descripción del producto final objetivo</h5>
		<h5 class="doc-list">4. Objetivos planteados al inicio del proyecto</h5>
		<h5 class="doc-list">5. Herramientas y tecnologias utilizadas</h5>
		<h5 class="doc-list">6. Organización y planificación del desarrollo</h5>

		<p>Especificaciones del dessarollo</p>

		<h5 class="doc-list">7. Bocetos de diseño iniciales</h5>
		<h5 class="doc-list">8. Diagrama funcionalidades o casos de uso</h5>
		<h5 class="doc-list">9. Estructuración de la Base de datos</h5>
		<h5 class="doc-list">10. Eso que queriamos, y morimos en el intento</h5>
		<h5 class="doc-list">11. Eso que queriamos, y de lo que nos sentimos orgullosos</h5>
		<h5 class="doc-list">12. Seguridad aplicada</h5>
		<h5 class="doc-list">13. Valoracions de desarrollo</h5>

		<p>Anexos para uso e instalación</p>

		{# <h5 class="doc-list">14. Guia de Estilos e imagen corporativa</h5> #}
		<h5 class="doc-list">14. Multimedia</h5>

		<h5 class="doc-list">15. Manual de usuario</h5>
		{# <h5 class="doc-list">16. Version Demo para instalación y test</h5> #}
		<br/>
		<h5 class="doc-list">16. Conclusiones finales</h5>

	</div>
</section>
