<section id="{{section.linkslug}}">
	<h1 class="doc-titol">b-Nerd! El producto objetivo</h1>
	<div class="doc-text">
		<p>
			Como estudiantes, comprobamos hasta la saciedad, cuantas veces uno termina buscando por internet explicaciones, ejemplos, respuestas o manuales, a menudo muy específicas sobre infinidad de cosas que en un momento determinado están impidiéndote terminar una tarea.<br/>
			Somos conscientes que elegimos estudiar en un sector en el que debemos estar en constante aprendizaje y no se equivocan los docentes al insistir en la habilidad y soltura a la hora de consultar por internet en webs oficiales, documentación de referencia, foros de contrastada reputación... No obstante observamos tres apuntes que consideramos muy relevantes.
		</p>
		<p>
			1. Existe infinidad de información en internet. A menudo perdemos mas tiempo en detectar que información es correcta, obsoleta o de una fuente de dudosa reputación, que no leyendo y aprendiendo.<br/>
			Lo peor de todo es que cuando encuentras una solución que te vale, nunca la guardas. Y pasado un tiempo, si vuelves a necesitar de esa información, no te acuerdas de donde la encontraste.
		</p>
		<p>
			2. En segundo lugar, pero no menos importante. Observamos como parecen exisitir dos grandes tipos de contenido muy diferenciados entre ellos. Los dirigidos a Noobs y los que van de Pro!<br/>
			Permitidnos que nos expliquemos con más detalle.
		</p>
		<ul>
			<li>
				Primero están esas páginas web, motivadas por la monetización  y centradas en el uso de estrategias SEO, más que por explicar algo útil, concreto, resumido y con sus pertinentes ejemplos. Te pegan un rollazo, indigerible, con explicaciones pa tontos y que encima, al final del artículo, no encuentras ni un fragmento de código ilustrativo.<br>
				Ya no leemos estos artículos en diagonal, los leemos directmente en vertical, buscando ese código de ejemplo que dudosamente encontraremos.
			</li>
			<br/>
			<li>
				Pero luego están los Pro. Esas páginas web donde alguien que parece falto de autoestima o reconocimento social, aprovecha para soltar todas las palabrotas y tecnicismos posibles para explicar algo excesivamente complejo, a menudo porque él mismo se ha complicado la vida innecesarimente.<br/>
				Esas páginas web que se pueden detectar rápidamente por un estilo vanidoso y una elevada capacidad por menospreciar el trabajo de otros. Forman parte de ese extenso grupo de minadores de moral.
			</li>
		</ul>
		<p>
			3. Por último, no lo observamos, lo padecemos todos a diario. La búsqueda recuerrente de ese fragmento de código que ya hiciste en su día y no tienes ni idea de en que carpeta, proyecto, archivo, máquina virtual... dónde lo metiste?
		</p>
		<p>
			En base a lo citado, pensamos en unificar nuestros propios tips y demos para evitar la ineficiente pérdida de tiempo en la recurrente búsqueda de información que ya tenías pero no sabes donde. Y al mismo tiempo, disponer de un soporte virtual para compartir nuestro aprendizaje, ampliarlo con feedback de usuarios y mostrar nuestros Hard Skills.
		</p>
	</div>
</section>
