<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Objectivos</h1>
	<div class="doc-text">
		<p>
			En la fase inicial de la toma de decsiones sobre el producto que esperábamos obtener al final del proyecto, nos marcamos unos objetivos globales que ya mencionamos anteriormente al inicio de esta documentación. A continuación intentaremos exponer una lista más detallada sobre aquellos puntos que consideramos prioritarios:
		</p>
		Frontend
		<ul>
			<li>
				Que el diseño fuese sencillo, simple y minimalista. Al mismo tiempo, mediante sutiles detalles, mostrase nuestra capacidad para la programación de elementos dinámicos complejos (hover, scroll, focusin, modales...).
			</li>
			<li>
				Que en la lectura de un artículo, el autor y fecha de publicación estuviesen siempre visibles y la gama de colores se adaptase al contenido.
			</li>
			<li>
				Que en la vista de un artículo, los fragmentos de código se viesen formatados como en un IDE.
			</li>
			<li>
				Crear nuestros propios CSS y JS, evitando el uso de frameworks como Bootstrap, jQuery o Googleapis, así como el peso de las imágenes, buscando reducir al máximo el número de request del head.
			</li>
			<li>
				Mobile first. Usar media queries y JS para una adaptación full responsive.
			</li>

			<li>
				Usar un framework reactivo como VUE para dar agilidad en algunas funcionalidades como el listado de artículos de una categoría.
			</li>
		</ul>
		Backend
		<ul>
			<li>
				Utilizar Symfony5 por sus facilidades en la gestión de la base de datos, asi como su enrutado que te permite estructurar las URL del navegador para integrar estrategias de marketing o posicionamiento SEO.
			</li>
			<li>
				Aprovechar al máximo las ventajas que ofrece TWIG en el renderizado con el uso de Objetos en formato JSON.
			</li>
			<li>
				Conseguir cohexistir una carpeta de demos ajena al enrutador de Symfony.
			</li>
		</ul>
		Deployment
		<ul>
			<li>
				Que el desarrollo del producto final, nos permitise simular precisamente el desarrollo de un producto real, por lo tanto, que saliese a mercado, público y accesible para todo el mundo.
			</li>
			<li>
				Que la web tuviese certificado de seguridad SSL.
			</li>
			<li>
				Que la web tuviese estadísticas propias o implementar Google Analitics.
			</li>
		</ul>
		Accessibilidad, User Experience y posicionamiento SEO
		<ul>
			<li>
				Utilización correcta de las etiquetas HTML5 asi como su distribución, estructura y orden tanto para conseguir la doble AA en accesibilidad como para posicionamente SEO.
			</li>
			<li>
				Que en todo momento se aplicasen las recomendaciones UX sobre navegabilidad y validación de formularios ontime para evitar la molesta recarga de una página con una respuesta de error.
			</li>
			<li>
				Integrar meta etiquetas tanto de idioma, descripción, viewport... para el posicionamiento SEO como de Open Graph que posibiliten el "compartir" los artículos en versión móvil o redes sociales.
			</li>
		</ul>
	</div>
</section>
