<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Organización y planificación</h1>
	<div class="doc-text">
		<p>
			Con una duración estimada de 300 horas (3 personas x 100h), repartidas en 4 semanas, aprovechamos la metodoloíia Agile de SCRUM, concretamente el entorno JIRA.
			<br/>
			Así mismo, el centro nos facilitó acceso a otro entorno de trabajo llamado Basecamp con el que poder comunicarnos e interactuar a diario entre nosotros.<br/>
			No obstante, dada la situación de confinamiento vivido, para incrementar el contacto entre nosotros, acordamos una conexión diaria via Hangouts cada mañana para asegurarnos de que todos seguíamos el ritmo de trabajo planificado.
			
		</p>
		<p>
			Dado que elegimos un producte parecido a un blog, que en principio no aparentaba gran complejidad, estructuramos las cuatro semanas (sprints) de trabajo con unos objetivos globales de:
		</p>
		Semana 1
		<ul>
			<li>
				Test de las arquitecturas e idiomas de programación elegidos en un entorno de producción para comprobar si debíamos redirigir hacia otros.
			</li>
			<li>
				Diseños moqup, wireframe y plantillas HTML que servirían de base para las futuras implementaciones del frontend.
			</li>
			<li>
				Creación del entorno de trabajo compartido (repositorio Git, Backlog de JIRA, Basecamp, zona de pruebas en labs.iam.cat...).
			</li>
			<li>
				Creación de las primeras entidades en Symfony (usuarios y artículos) junto a sus controladores y formularios.
			</li>
		</ul>
		Semana 2
		<ul>
			<li>
				Todas las funcionalidades de Usuarios y Artículos debían estar implementadas, en crudo, pero funcionales.
			</li>
			<li>
				Enlazar frontend (plantillas que teníamos) con backend (controladores).
			</li>
		</ul>
		Semana 3
		<ul>
			<li>
				Añadir contenido de prueba (lorem ipsum).
			</li>
			<li>
				Añadir funcionalidades extra (IDE online parecido a codepen).
			</li>
			<li>
				Añadir Entidades y Controladores secundarios para comentarios y panel de administración.
			</li>
		</ul>
		Semana 4
		<ul>
			<li>
				Test de funcionalidades y corrección de errores.
			</li>
			<li>
				Redacción de contenido. Eliminar lorem ipsum de prueba.
			</li>
			<li>
				Añadir artículos reales y demos.
			</li>
			<li>
				Integrar las meta tags del posicionamiento SEO y las meta OG del Mobile First.
			</li>
			<li>
				Deployment en servidor real con SSL, configuración htacces, imagen corporativa, sitemap, robots.txt...
			</li>
		</ul>
		Semana 5 (post entrega proyecto)
		<ul>
			<li>
				Documentación
			</li>
		</ul>
	</div>
</section>
