<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Casos de uso</h1>
	<div class="doc-text">
		<p>
			Elegimos un producto que a simple vista, no precisaba de gran compleja. Por ello, las funcionalidades de la pàgina web se podian dividir en 3 grandes grupos diferenciadossegunel grado de privilegios del usuario (roles)
		</p>

		Todo usuario o visitantes anonimo, pensamos que debian....
		<ul>
			<li>
				Ver un articulo completo
			</li>
			<li>
				Ver el perfil completo del autor de un articulo
			</li>
			<li>
				Contactar via formualario para sugerencias de articulos
			</li>
			<li>
				Poder registrar-se
			</li>
			<li>
				Configurar la tematica de colores de contraste de la web (dark Mode)
			</li>
			<li>
				Interactuar con las demos
			</li>
			<li>
				Probar codigo de artículos en un IDE online propio
			</li>
		</ul>

		En el caso de usuario registrados y logueados...
		<ul>
			<li>
				Que su imagen de perfil y nombre de usuario esten siempre visibles en todas la pàginas
			</li>
			<li>
				Poder personalizar su perfil de usuario público (imagen de perfil, texto de presentacion, enlace a redes sociales)
			</li>
			<li>
				Poder participar con comentarios en los articulos
			</li>
		</ul>
		Los administradores de la web, deben tener acceso completo a...
		<ul>
			<li>
				Publicar articulos
			</li>
			<li>
				Administrar y gestionar articulos, categorias, comentarios y usuarios
			</li>
			<li>
				Ver estadisticas de acceso y uso de la web
			</li>
		</ul>
	</div>
</section>
