<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Casos de uso</h1>
	<div class="doc-text">
		<p>
			Elegímos un producto que a simple vista, no precisaba de gran complejidad. Por ello, las funcionalidades de la página web se podían dividir en 3 grandes grupos diferenciados según el grado de privilegios del usuario (roles)
		</p>

		Todo usuario o visitante anónimo, pensamos que debían....
		<ul>
			<li>
				Ver un artículo completo.
			</li>
			<li>
				Ver el perfil completo del autor de un artículo.
			</li>
			<li>
				Contactar vía formualario para sugerencias de artículos.
			</li>
			<li>
				Poder registrarse.
			</li>
			<li>
				Configurar la temática de colores de contraste de la web (dark Mode).
			</li>
			<li>
				Interactuar con las demos.
			</li>
			<li>
				Probar código de artículos en un IDE online propio.
			</li>
		</ul>

		En el caso de los usuarios registrados y logueados...
		<ul>
			<li>
				Que su imagen de perfil y nombre de usuario esten siempre visibles en todas la páginas.
			</li>
			<li>
				Poder personalizar su perfil de usuario público (imagen de perfil, texto de presentación, enlace a redes sociales,...).
			</li>
			<li>
				Poder participar con comentarios en los artículos.
			</li>
		</ul>
		Los administradores de la web, deben tener acceso completo a...
		<ul>
			<li>
				Publicar artículos.
			</li>
			<li>
				Administrar y gestionar artículos, categorías, comentarios y usuarios.
			</li>
			<li>
				Ver estadísticas de acceso y uso de la web.
			</li>
		</ul>
			<img src="{{ asset("docs/docs-img/casos_us.png") }}" class="doc-img">

	</div>
</section>
