<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Casos de uso</h1>
	<div class="doc-text">
		<p>
        Estas son las funcionalidades de los diferentes roles dentro de la pàgina web
        </br>
		</p>
		Administrador
		<ul>
			<li>
            Ha de poder llistar els usuaris registrats.
			</li>
			<li>
            Ha de poder llistar totes les categories creades.
			</li>
			<li>
            Llistar articles/comentaris creats.
			</li>
            <li>
            Ha de poder crear articles.
            </li>
		</ul>
		Usuari registrat
		<ul>
			<li>
            Pot fer comentaris als posts.
			</li>
			<li>
            Pot afegir suggeriments/valoracions als comentaris.
			</li>
			<li>
            Podra jugar fer proves/editar codi amb el editor.
			</li>
            <li>
            Fer servir les mini-aplicacions.
            </li>
		</ul>
		Usuari no registrat
		<ul>
			<li>
			Podrà consultar els articles.
			</li>
			<li>
			Contactar amb els admins a través d'un formulari.
			</li>
		</ul>
	</div>
</section>