<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Base de datos</h1>
	<div class="doc-text">
		<p>
			Nuestra idea inicial sobre la base de datos era
		</p>

		<a href="{{ asset("docs/files/phpMyAdmin-DBprint.pdf") }}" alt"enlace a archivo pdf con informe de la base de datos" target="blank">importacio PDF de la DB</a>

	</div>
</section>
