<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Base de datos</h1>
	<div class="doc-text">
		<p>
			Nuestra idea desde un principio sobre la base de datos era:
		</p>

		<img src="{{ asset("docs/docs-img/esquema-er.png") }}" class="doc-img">

		<p>También podéis consultar la <a href="{{ asset("docs/files/phpMyAdmin-DBprint.pdf") }}" alt"enlace a archivo pdf con informe de la base de datos" target="blank">importación en PDF de la estructura de la BD</a>.</p>
	</div>
</section>
