<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Eso que no conseguimos pero si intentamos</h1>
	<div class="doc-text">
		<p>
			Lo intentamos, pero no conseguimos. g bl bla bla bla
		</p>

		Integrar VUE con TWIG
		<ul>
			<li>
				En un principio, era de nuesro interes, realizar un frontend muy reactivo con VUE para evitar la constante recarga de pàginas y liberar el servidor de requests ineficientes. No lo conseguimos. A pesar de nuestros reitardos intentos, comprobamos que VUE y TWIG no se llevan nada bien. Aun existiendo un modulo de symfony para integrar VUE en TWIG, solo puede implmentarse con componentes debido a que comparten la misma notación de variables (ambos usan el doble corchete {})
			</li>
		</ul>
		Respetar los timmings de la planificacion prevista (nos retrasamos)
		<ul>
			<li>
				Procuramos seguimos en la medida posible, la planificación que nos habiamos propuesto . No obstanto, al querer desarrollar nuestro propio diseño sin recursos ajenos, en el segundo sprint dedicamos mas tiempo de los previsto en CSS y JS. Eso conllevó un  significativo retraso de las tareas del sprint 2 al 3.
			</li>
		</ul>
		Invertir mas tiempo en la redacción de conendios finales (articulos)
		<ul>

			<li>
				Debido a lo mencionado en el punto anterior, las tareas previstas en el srpint 4 para la inclusión de contenido real, quedo aparcada.<br/>
				Nos hubiese gustado terminar el proyeto, con el tiempo suficiente, para poder dedicar-nos a excribir articulos y demos, que al final es el motivo principal por el que creamos la web.
			</li>
		</ul>
		Integrar el editor online detro de la vista de un articulo
		<ul>
			<li>
				Era para nosotros un complemento relevanmte, tener en la web un apartado de demos y IDE propio. Aunque lo creamos, està poco presente. Nos hubiese gustado poder dedicar mas tiempo a su integración y visibilidad dentro de los articolos (enlaces, iframe, embed... )
			</li>
		</ul>
	</div>
</section>
