<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Eso que no conseguimos pero si intentamos</h1>
	<div class="doc-text">
		<p>
			Integrar VUE con TWIG
		</p>
		<p>
			Respetar los timmings de la planificacion prevista (nos retrasamos)
		</p>
		<p>
			Invertir mas tiempo en la redacción de conendios finales (articulos)
		</p>
		<p>
			Disponer de demos en el apartado demos
		</p>
		<p>
			Integrar el editor online detro de la vista de un articulo
		</p>
		<p>
			Adaptar la linia de diseño en todo el contenido (editro online y apartado demos)s
		</p>

	</div>
</section>
