<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Eso que no conseguimos pero si intentamos</h1>
	<div class="doc-text">
		<p>
			Nos marcamos unos objetivos al inicio del proyecto que en algunos casos han sido demasiado ambiciosos. Intentamos desarrollar tareas más complejas de lo que parecían en un principio y no las consideramos un fracaso puesto que aprendimos mucho al intentarlo.
		</p>

		Integrar VUE con TWIG
		<ul>
			<li>
				En un principio, era de nuesro interés, realizar un frontend muy reactivo con VUE para evitar la constante recarga de páginas y liberar el servidor de requests ineficientes. No lo conseguimos. A pesar de nuestros reiterados intentos, comprobamos que VUE y TWIG no se llevan nada bien. Aún existiendo un módulo de Symfony para integrar VUE en TWIG, sólo puede implementarse con componentes debido a que comparten la misma notación de variables (ambos usan el doble corchete {}).
			</li>
		</ul>
		Respetar los timmings de la planificación prevista (nos retrasamos)
		<ul>
			<li>
				Procuramos seguir en la medida posible, la planificación que nos habiamos propuesto. No obstante, desarrollar nuestro propio diseño sin recursos ajenos, en el segundo sprint nos demoro más tiempo de lo previsto en CSS y JS.
			</li>
		</ul>
		Invertir más tiempo en la redacción de contenidos finales (artículos y demos)
		<ul>

			<li>
				Debido a lo mencionado en el punto anterior, las tareas previstas en el sprint 4 para la inclusión de contenido real, quedo aparcada.<br/>
				Nos hubiese gustado terminar el proyeto, con el tiempo suficiente, para poder dedicarnos a escribir artículos y demos, que al final es el motivo principal por el que creamos la web.
			</li>
		</ul>
		Integrar el editor online detro de la vista de un artículo
		<ul>
			<li>
				Era para nosotros un complemento relevante, tener en la web un apartado de demos y IDE propio. Aunque lo creamos, está poco presente. Nos hubiese gustado poder dedicar más tiempo a su integración y visibilidad dentro del proyecto (enlaces, iframe, embed...).
			</li>
		</ul>
	</div>
</section>
