<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Eso de lo que nos sentimos orgullosos</h1>
	<div class="doc-text">
		<p>
			Editor online enlazado y coloreado
		</p>
		<p>
			Incrustacion de HTML enriquecido en articulos (CKEditor)
		</p>
		<p>
			Incrustacion de codigo formatado como un IDE (CodeSnippet)
		</p>
		<p>
			Gestion de cuentas de correo (no-replay y formulario de contacto)
		</p>
		<p>
			Personalización del perfil
		</p>
		<p>
			Estrcutura de meta datos preparada para posicionamiento SEO y OG
		</p>
		<p>
			Personalización del perfil
		</p>


	</div>
</section>
