<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Aspectos de seguridad trabajados</h1>
	<div class="doc-text">
			<p>
			Limitaci贸n de comentarios a solo usuarios registrados. Asi mismo, solo visibles cuando una admin los modere
		</p>
					<p>
			Control con JS para evitar la insercion de URL completes en redes sociales
		</p>
		<p>
			Limitaci贸n de reegistro de usuario via Bots mediante mail de confirmaci贸n para la verificaci贸n de registro
		</p>


	</div>
</section>
