<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Valoraciones personales</h1>
	<div class="doc-text">

		<h5>Adam JJ</h5>
		<p>
			hola que tal
		</p>
		<h5>Aleix RA</h5>
		<p>
			Lo que más valoro de este proyecto es la ilusión y las ganas que le hemos puesto, fue una suerte que en la primera reunión surgiera está propuesta que, unánimemente aprobamos. Nos hemos mantenido conectados en todo momento, sin lugar a desmotivaciones y, a veces, incluso demasiadas horas con poco descanso. Todo esto estoy seguro de que no hubiese sido posible con otro tipo de proyecto que no nos hubiese terminado de convencer.</br>
			</br>Mentiría si dijera que en un principio nuestras aspiraciones no eran más altas, pero nos hemos encontrado con piedras por el camino que nos han hecho perder tiempo buscando la manera de apartarlas o de esquivarlas, aunque sin ninguna duda este tiempo perdido se ha convertido en aprendizaje ganado.</br>
			</br>Por último se que el margen de mejora es muy grande, pero como hemos comentado varias veces con mis compañeros, “si Java va por la versión 14 por algo será”, y estoy seguro de que en un futuro vamos a poder disfrutar de nuevas versiones de este proyecto.
		</p>
		<h5>Roger CR</h5>
		<p>
			Todos somos Nerds
		</p>


	</div>
</section>
