<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Valoraciones personales</h1>
	<div class="doc-text">

		<h5>Adam JJ</h5>
		<p>
			hola que tal
		</p>
		<h5>Aleix RA</h5>
		<p>
			Yo no soy Nerd
		</p>
		<h5>Roger CR</h5>
		<p>
			Todos somos Nerds
		</p>


	</div>
</section>
