<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Guia de Estilos unificados</h1>
	<div class="doc-text">
		<p>
			Breve resumen de los puntos destacados del CSS que debe respetarse siempre
		</p>


	</div>
</section>
