<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Manual de Usuario</h1>
	<div class="doc-text">
		<p>
			Pantallazos de la web con indicaciones de lo que se puede hacer, como hacer....
		</p>


	</div>
</section>
