<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Valoraciones personales</h1>
	<div class="doc-text">

		<h5>Adam JJ</h5>
		<p>
			En mi opinión este tipo de metodologías en grupo ayudan mucho el proceso de aprendizaje, ya que lo hicimos bastante dinámico conectándonos a Hangouts.<br/>
			También dar las gracias a Roger y Aleix, me han ayudado mucho y han tenido una paciencia increíble, de estar conmigo al principio con los mil problemas que tuve con Git a estar mano a mano picando código.</p>
		<p>
			Como punto positivo, he aprendido mucho de Symfony5, no sabía hasta que punto un framework como este podía hacer las cosas que hace, la gestión que tiene con una base de datos, la forma de concatenar con TWIG...</p>
		<p>
			Realmente trabajar de esta manera nos sirve para nuestro futuro en el mundo laboral, ya que los proyectos a los que nos encontraremos algún día no son cosa de uno al final, son trabajos en equipo y nos tenemos que adaptar y aprender de nuestros compañeros y viceversa.</p>
		<br>
		<h5>Aleix RA</h5>
		<p>
			Lo que más valoro de este proyecto es la ilusión y las ganas que le hemos puesto, fue una suerte que en la primera reunión surgiera está propuesta que, unánimemente aprobamos. Nos hemos mantenido conectados en todo momento, sin lugar a desmotivaciones y, a veces, incluso demasiadas horas con poco descanso. Todo esto estoy seguro de que no hubiese sido posible con otro tipo de proyecto que no nos hubiese terminado de convencer.</p>
		<p>
			Mentiría si dijera que en un principio nuestras aspiraciones no eran más altas, pero nos hemos encontrado con piedras por el camino que nos han hecho perder tiempo buscando la manera de apartarlas o de esquivarlas, aunque sin ninguna duda este tiempo perdido se ha convertido en aprendizaje ganado.</p>
		<p>
			Por último se que el margen de mejora es muy grande, pero como hemos comentado varias veces con mis compañeros, “si Java va por la versión 14 por algo será”, y estoy seguro de que en un futuro vamos a poder disfrutar de nuevas versiones de este proyecto.</p>
		<br>
		<h5>Roger CR</h5>
		<p>
			Mediocre. No hicimos nada nuevo ni nada fuera de lo normal. Por el tiempo invertido, el resultado deberia ser muy superior.<br/>
			No puedo realizar una valoración justa, debido a que en las últimas semanas de desarrollo del proyecto, las más decisivas, eso que llaman educación por parte del centro me ha llevo a estados físicos y mentales de mucho estrés y ansiedad.</p>
		<p>
			Este proyecto era una idea mia que tenia en mente desde hacia tiempo, y les debo mucho a mis compañeros, pues de ellos es de quien realmente he aprendido.<br/>
			Como bien dice Aleix, con los años algun día lo miraremos y reiremos con ello. De no ser así, es porque habrá versiones mejoradas</p>
		<br/>
		<br/>
		<br/>
		<br/>
		Todos somos Nerds!


	</div>
</section>
