<section id="{{section.linkslug}}">
	<h1 class="doc-titol">b-Nerd! El producto objetivo</h1>
	<div class="doc-text">
		<p>
			Como estudiantes, comprobamos hasta la saciedad, cuantas veces uno termina buscando por internet explicaciones, ejemplos, respuestas o mauales sobre pequeñas cosas, a menudo muy específicas sobre infinidad de cosas que en un momento determinado estan impidiendote terminar una tarea.<br/>
			Somos conscientes que elegimos estudiar en un sector en el que debemos estar en constante aprendizage y no se equivocan los docentes al insistir en la habilidad y soltura a la hora de consultar por internet en webs oficiales, documentacion de referencia, foros de contrastada reputación... No obstante observamos tres apuntes que consideramos muy relevantes.
		</p>
		<ol>
			<li>
				Existe infinidad e información en internet. A menudo perdemos mas tiempo en detectar que información correcta, obsoleta o de una fuente de reputación, que no leiendo y aprendiendo.<br/>
				Lo peor de todo es que cuando encuentras una solución que te vale, nunca la guardas. Y pasado un tiempo, si vuelves a necessitar de esa información, ni te acuerdas de donde la encontraste.<br/><br/>
			</li>
			<li>En segundo plano, pero muy relevante. Observamos como parecen exisitir dos grandes bloques de tipologia de contenidos con un gran salto diferencial entre ellos. Los contenidos para noobs y los que van de Pro! Este punto es muy importante y permitidnos que lo expliquemos con cierto detalle.
				<ul>
					<li>
						Primero estan esas pàginas web, motivadas por la monetización y por ello, mas centradas en el uso de estrategias SEO, que no de explicar algo util, explicito, de forma resumida y con los pertinentes ejemplos. Te pegan un artículo extra largo, indigerible, con explicaciones pa tontos y que encima, al final del articulo, no encuentras ni un fragmento de codigo ilustrativo. Se preocupan mas en repetir mil veces las palabras clave del SEO que de compartir conocimientos.<br>
						Ya no leemos estos articulos en diagonal, los leemos directmente en vertical, buscando ese codigo de ejemplo que dudosamente encontraremos.<br/>
					</li>
					<li>
						Pero luego estan los Pro. Esas pàginas web donde alguien que parece falto de autoestima o reconocimento social, aprovecha para soltar todas las palabrotas y tecnicismos posibles para explicar algo excesivamente complejo, amenudo porque el mismo se ha complicado la vida inecessarimente. Esas pàginas web que se pueden detectar ràpidamente por un estilo vanidosidad y una elevada capacidad por menospreciar el trabajo de otros.<br/>Facilmente podemos asociarlos al extenso grupo de minadores de moral.<br/>
				</ul>
			</li>
			<li>
				Por ultimo, no lo observamos, lo padecimos todos a diario. La busqueda recuerrente de ese fragmento de codigo que ya hiciste en su dia y no tienes ni idea de en que carpeta, proyecto, archivo, maquina virtual.... y donde lo metiste?
			</li>
		</ol>

		<p>
			A todo esto pues, juntando los tres motivos, detectmos una cantidad innecesaria de tiempo perdido en la busqueda de información que o ya tienes pero no sabes donde, o buscaste en su dia pero no recuerda la web, o tenias unos apuntes pero no sabes donde, </p>
	</div>
</section>
