<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Objectivos</h1>
	<div class="doc-text">
		<p>
			En la fase inicial de toma de decsiones sobre el producto que esperabamos obtener al final del proyecto, nos marcamos unos objetivos globales que ya mencionamos anteriormente al inicio de esta documentación. A continuacion intentaremos exponer una lista mas específica sobre aquellos puntos en los que sobretodo queriamos trabajar
		</p>
		Frontend
		<ul>
			<li>
				Utilización correcta de las etiquetas HTML5 y distribución correcta en su estructura y orden tanto para accesibilidad como para posicionamente SEO. Concretamente, uso del header, nav, main, section, label. La web no tiene footer así que esta etiqueta la omitimos.
			</li>
			<li>
				Uso de alt en todos los enlaces y title en su mayoria para la doble AA de accesibilidad.
			</li>
			<li>
				Que en todo momento se aplicasen las recomendaciones UX sobre navegabilidad y validación de formularios ontime para evitar la molesta recarga de una página con una respuesta de error
			</li>
			<li>
				Que en la lectura de un articulo, el autor y fecha de publicacón estubiesen siempre visible y la gama de colores cambiase adaptandose al color del logo de la categoria de ese artículo
			</li>
			<li>
				Que en la vista de un articulo, los fragmento de codigo se viesen formatados como en un IDE
			</li>
			<li>
				Crear nuestros propio CSS y JS, evitando el uso de frameworks com Bootstrap, jQuery o googleapis, así como el peso de las imagenes. Basicamente reducir al máximo el numero de request del head procurando así una carga ràpida de la web.
			</li>
			<li>
				Mobile first. Usar media querys y JS para una adaptacion full responsive
			</li>
			<li>
				Un diseño sencillo, simple y minimalista, que al mismo tiempo, mediante sutiles detalles, sugiriese nuestra capacidad para la programación de elementos dinàmicos complejos (hover, scroll, focusin, modales...)
			</li>
			<li>
				Usar un framework reactivo como VUE para dar agilidad en algunas funcionalidades como el listado de artículos de una categoria
			</li>
		</ul>
		Backend
		<ul>
			<li>
				Utilizar Symfony por sus facilidades en la gestón de la base de datos.
			</li>
			<li>
				Potenciar el enrutado de Symfony que te permite estrucutrar las URL del navegador para integrar estrategias de marketing o posicionamiento SEO.
			</li>
			<li>
				Aprovechar al máximo las ventajas que ofrece TWIG en el renderizado con el uso de Objetos y JSONs.
			</li>
			<li>
				Conseguir cohexistir una carpeta de demos ajena al enrutador de Symfony
			</li>
		</ul>
		Deployment
		<ul>
			<li>
				Que el desarrolo del producto final, nos permita simular precisamente el desarrolo de un producto real, por lo tanto, que saliese a mercado, publico y accesible para todo el mundo, aprovechando el dominio y hosting gratuito, que nos regalaban en concurso webs al punt cat
			</li>
			<li>
				Que la web tubiese certificado SSL para https
			</li>
			<li>
				Que la web tubiese estadísticas propias o implementar Google Analitics
			</li>
		</ul>
		Accessibilidad, User Experience y posicionamiento SEO
		<ul>
			<li>
				Que la web valide doble AA en cuanto a accesibilidad
			</li>
			<li>
				Integrar meta etiquetas de idioma, descripcion, viewport... para el posicionamiento SEO como haria un CRM Wordpress
			</li>
			<li>
				Integrar funciones que renderizen las meta etiquetas OG para posibilitar el "compartir" los articulos en moviles o redes sociales, usando el propio contenido del artículo y el logo de su categoria principal.
			</li>
		</ul>
	</div>
</section>

