<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Organización y planificación</h1>
	<div class="doc-text">
		<p>
			Con una duración estimada de 300 horas (3 personas x 100h), repartidas en 4 semanas, aprovechamos la metodològia Agile de SCRUM, concretamente el entorno JIRA.
			<br/>
			Asi mismo, el instituto nos facilitó acceso a otro entorno de trabajo llamado Basecamp con el que poder comunicar-nos e interactuar a diaro entre nosotros.<br/>
			No obstante, dada la situación de confinamiento sufrido, para incrementar el contacto entre nosotros, acordamos una conexión diaria via Hangouts cada mañana para garantizar que si en algun momento algun miembro del grupo se estancaba o atrasaba en alguna tarea, pudiese comunicarlo y asi, todos estubiesemos informados y al mismo tiempo disponibles para poder ayudar si era necessario.
		</p>
		<p>
			Dado que elegimos un producte parecido a un blog, que en principio no mostraba gran complejidad, estructuramos las cuatro semanas (sprints) de trabajo con unos objetivos globales de:
		</p>
		Semana 1
		<ul>
			<li>
				Test de las arquitecturas y idiomas de programación elegidos en un entorno de produccion para comprobar si debiamos redirigir hacia otros.
			</li>
			<li>
				Bocetos de moqups, wireframes y plantillas html que serian la base para las futuras implementacions del frontend
			</li>
			<li>
				Creacion del entorno de trabajo compartido (Repositorio Git, Backlog de JIRA, Drive, zona de pruebas en labs.iam.cat...)
			</li>
			<li>
				Creacion de las entidades bàsicas en Symfony (usuarios y articulos) junto a controladores y formularios.
			</li>
		</ul>
		Semana 2
		<ul>
			<li>
				Todas las funcionalidades de Usuario y Articulos debian estar implementades, en crudo, pero funcionales
			</li>
			<li>
				Enlazar frontend (plantillas que teniamos) con backend (controlladores)
			</li>
			<li>
				Que en todo momento se aplicasen las recomendaciones UX sobre navegabilidad y validación de formularios ontime para evitar la molesta recarga de una página con una respuesta de error
			</li>
		</ul>
		Semana 3
		<ul>
			<li>
				Añadir contenido de prueba (lorem ipsum)
			</li>
			<li>
				Añadir funcionalidades extras (IDE online parecido a codepen)
			</li>
			<li>
				Añadir Entidades y Controladores secundarios para comentarios y admin
			</li>
		</ul>
		Semana 4
		<ul>
			<li>
				Test de funcionalidades y correccón de errores
			</li>
			<li>
				Redacción de contenido. Eliminar lorem ipsum de prueba
			</li>
			<li>
				Añadir articulos reales y demos
			</li>
			<li>
				Integrar las meta tags del posicionamiento SEO y las meta OG del Mobile First
			</li>
			<li>
				Deployment en servidor real con SSL, htacces...
			</li>
		</ul>
		Semana 5 (post entrega proyecto)
		<ul>
			<li>
				Documentación
			</li>
		</ul>
	</div>
</section>
