<section id="{{section.linkslug}}">
	<h1 class="doc-titol">Diagrama de casos de uso</h1>
	<div class="doc-text">
		<p>
			lista con la sfuncionalidades que esperabamos que tubiese la web
		</p>


	</div>
</section>
