{% extends 'base.html.twig' %}

{% block navbar %}
	{{ include('menu.html.twig') }}
{% endblock %}

{% block content %}

{% if user %}
	<section id="menu_item_section_name_4">
        <p>Enhorabona {{ user.nom }}! El correu s'ha verificat correctament. <a href="{{ path('app_login') }}" alt="Enllaç a login">Inicia sesió</a> per començar.</p>
	</section>
{% else %}
    <section id="menu_item_section_name_4">
        <p>No s'ha pogut validar cap usuari</p>
    </section>
{% endif %}
    
{% endblock %}
