{% extends 'base.html.twig' %}

{% block navbar %}
	{{ include('admin/menu_admin.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<h1 class="article_individual_titol">{{controller_name}}</h1>
		<p>Aqui hauria de sortir d'entrada una llista resum de novetats. Per exemple:
		</p>
		<ul>
			<li>
				Una llista de totes les categories amb el numero d'articles visibles de cada una d'elles
			</li>
			<li>
				Un avis sobre categories que no tenen articles amb enllaç a adminCategories per si es volen eliminar categories
			</li>
			<li>
				Un avis sobre quants comentaris s'han afegir l'ultim mes amb enllaç al adminComentaris per poder moderar-los
			</li>
			<li>
				Un avis sobre quants usuaris s'han registrat l'ultim mes amb enllaç a adminUsuaris per veure qui son, s'han afegit algun comentari, si han editat el seu perfil....
			</li>
			<li>
				Una llista de links de xarxes socials dels usuaris (per veure si algú ha aconseguit colar un link extern no autoritzat)
			</li>
			<li>
				Ja que encara no ho hem gestionat emb el JS, un espia que indiqui si algú en el seu perfil d'usuari ha escrit una etiqueta html
				&#706;script&#707;
			</li>
			<li>
				Estadistiques de googleAnalitics sobre visites
			</li>
		</ul>

		<p>Son exemples a lo bruto, pero estaria bé despres del projecte mirar d'implementar-les</p>

	</section>

{% endblock %}
