{% extends 'base.html.twig' %}

{% block navbar %}
	{{ include('admin/menu_admin.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<h1 class="article_individual_titol">{{controller_name}}</h1>
		<p>Ara per ara jugo amb els links del menu lateral</p>
	</section>

{% endblock %}
