{% extends 'base.html.twig' %}
{% block navbar %}
	{{ include('admin/menu_admin.html.twig') }}
{% endblock %}

{% block content %}

	<section>
		<h1 class="titulo">Llista de comentaris</h1>


		{% for comentari in comentaris %}

			<p class="admin-comments">

				{% if comentari.tipus == 0 %}
					<i class="fa fa-frown-o"></i>
				{% elseif comentari.tipus == 1 %}
					<i class="fa fa-meh-o"></i>
				{% elseif comentari.tipus == 2 %}
					<i class="fa fa-smile-o"></i>
				{% elseif comentari.tipus == 3 %}
					<i class="fa fa-rocket"></i>
				{% endif %}
				{{comentari.user.username}}	el {{comentari.dataPublicacio|date('d/m/Y')}}<br/>
				"{{comentari.text}}"<br/>
				{% if comentari.visible %}
					 Aquest comentari es visible al article <a href="">moderar comentari</a>
					{% else %}
					 Comentari no visible al article <a href="">moderar comentari</a>
				{% endif %}
			</p>

		{% endfor %}

	</section>
{% endblock %}
